body{
    text-align: center;
}

h1{
    color: blue;
}

input{
    width: 30px;
}

button{
    width: 30%;
    margin: auto;
}

.container{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.inputContainer{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}